name: release_gui

on:
  push:
    tags:
      - gui-v[0-9]+\.[0-9]+\.[0-9]+
      - gui-v[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+
      - gui-v[0-9]+\.[0-9]+\.[0-9]+-pre\.[0-9]+

permissions:
  contents: write

jobs:
  build:
    name: build
    # runs-on: ubuntu-latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - rust_target: aarch64-apple-darwin
            os: macos-latest
          - rust_target: x86_64-apple-darwin
            os: macos-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: ${{ matrix.rust_target }}

      - name: Get the release version from the tag
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build the binary
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.rust_target }}

      - name: Package for macOS
        shell: bash
        run: |
          RESOURCE_DIR="gui/resources/packaging/macos"
          APP_NAME="SpectatorMode Client.app"
          ARCHIVE_NAME="SpectatorMode Client ${{ env.VERSION }}.tar.gz"

          echo "ls"
          ls
          echo "ls target"
          ls "target/${{ matrix.rust_target }}"
          echo "ls release"
          ls "target/${{ matrix.rust_target }}/release"
          echo "ls resource_dir"
          ls "${RESOURCE_DIR}"

          mv "target/${{ matrix.rust_target }}/release/gui" "${RESOURCE_DIR}/${APP_NAME}/Content/MacOS/SpectatorMode Client"
          tar -czf "${ARCHIVE_NAME}" "${RESOURCE_DIR}/${APP_NAME}"
          echo "ASSET=${ARCHIVE_NAME}" >> $GITHUB_ENV

      - name: Determine tag type
        id: tag_type
        shell: bash
        run: |
          if [[ ${{ github.ref }} =~ ^refs/tags/gui-v[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+$ ]]; then
            echo "tag_type=PRE_RELEASE_TAG" >> $GITHUB_OUTPUT
          elif [[ ${{ github.ref }} =~ ^refs/tags/gui-v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "tag_type=RELEASE_TAG" >> $GITHUB_OUTPUT
          else
            echo "tag_type=INVALID_TAG" >> $GITHUB_OUTPUT
          fi

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ steps.tag_type.outputs.tag_type == 'PRE_RELEASE_TAG' }}
          files: |
            ${{ env.ASSET }}
