name: release

on:
  push:
    tags:
      - v[0-9]+\.[0-9]+\.[0-9]+
      - v[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+
      - v[0-9]+\.[0-9]+\.[0-9]+-pre\.[0-9]+

permissions:
  contents: write

jobs:
  build:
    name: build
    # runs-on: ubuntu-latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - rust_target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          # musl gets openssl linkage errors
          # - rust_target: x86_64-unknown-linux-musl
          #   os: ubuntu-latest
          - rust_target: x86_64-pc-windows-gnu
            os: windows-latest
          - rust_target: aarch64-apple-darwin
            os: macos-latest
          - rust_target: x86_64-apple-darwin
            os: macos-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: ${{ matrix.rust_target }}

      # - name: Install mingw for Windows cross-compilation
      #   if: matrix.rust_target == 'x86_64-pc-windows-gnu'
      #   run: sudo apt-get install -y gcc-mingw-w64-x86-64

      - name: Get the release version from the tag
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build the binary
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.rust_target }}

      - name: Build archive
        shell: bash
        run: |
          binary_name="swb"

          dirname="$binary_name-${{ env.VERSION }}-${{ matrix.rust_target }}"
          mkdir "$dirname"
          if [[ "${{ matrix.os }}" = "windows-latest" ]]; then
            # CLI executable
            mv "target/${{ matrix.rust_target }}/release/cli.exe" "$dirname/swb.exe"

            # GUI executable
            mv "target/${{ matrix.rust_target }}/release/gui.exe" "$dirname/swb-gui.exe"
          else
            # CLI executable
            mv "target/${{ matrix.rust_target }}/release/cli" "$dirname/swb"

            # GUI executable
            mv "target/${{ matrix.rust_target }}/release/gui" "$dirname/swb-gui"
          fi

          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            7z a "$dirname.zip" "$dirname"
            echo "ASSET=$dirname.zip" >> $GITHUB_ENV
          else
            tar -czf "$dirname.tar.gz" "$dirname"
            echo "ASSET=$dirname.tar.gz" >> $GITHUB_ENV
          fi

      - name: Determine tag type
        id: tag_type
        shell: bash
        run: |
          if [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+$ ]]; then
            echo "tag_type=PRE_RELEASE_TAG" >> $GITHUB_OUTPUT
          elif [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "tag_type=RELEASE_TAG" >> $GITHUB_OUTPUT
          else
            echo "tag_type=INVALID_TAG" >> $GITHUB_OUTPUT
          fi

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ steps.tag_type.outputs.tag_type == 'PRE_RELEASE_TAG' }}
          files: |
            ${{ env.ASSET }}
